article {
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
            font-size: 2rem;
        }

        .date {
            font-size: 1rem;
            font-style: italic;
        }
    }

    img {
        align-self: center;
        max-width: 75%;
    }
}
